Classification of news articles:

https://www.kaggle.com/datasets/rmisra/news-category-dataset 


> Can you categorize news articles based on their headlines and short descriptions?

In [1]:
import pandas as pd

In [2]:
data_df = pd.read_json('News_Category_Dataset_v3.json',  lines=True)

In [3]:
data_df.head(5)

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [5]:
data_df.category.value_counts

<bound method IndexOpsMixin.value_counts of 0         U.S. NEWS
1         U.S. NEWS
2            COMEDY
3         PARENTING
4         U.S. NEWS
            ...
209522         TECH
209523       SPORTS
209524       SPORTS
209525       SPORTS
209526       SPORTS
Name: category, Length: 209527, dtype: object>

In [14]:
data_df.groupby("category").count().sort_values(by=["link"])

                 link  headline  short_description  authors   date
category
EDUCATION        1014      1014               1014     1014   1014
CULTURE & ARTS   1074      1074               1074     1074   1074
LATINO VOICES    1130      1130               1130     1130   1130
COLLEGE          1144      1144               1144     1144   1144
ARTS & CULTURE   1339      1339               1339     1339   1339
U.S. NEWS        1377      1377               1377     1377   1377
GOOD NEWS        1398      1398               1398     1398   1398
FIFTY            1401      1401               1401     1401   1401
ENVIRONMENT      1444      1444               1444     1444   1444
ARTS             1509      1509               1509     1509   1509
MONEY            1756      1756               1756     1756   1756
TASTE            2096      2096               2096     2096   2096
TECH             2104      2104               2104     2104   2104
SCIENCE          2206      2206               2206     2206   2206
STYLE            2254      2254               2254     2254   2254
RELIGION         2577      2577               2577     2577   2577
WORLDPOST        2579      2579               2579     2579   2579
GREEN            2622      2622               2622     2622   2622
WEIRD NEWS       2777      2777               2777     2777   2777
MEDIA            2944      2944               2944     2944   2944
WORLD NEWS       3299      3299               3299     3299   3299
DIVORCE          3426      3426               3426     3426   3426
IMPACT           3484      3484               3484     3484   3484
CRIME            3562      3562               3562     3562   3562
WOMEN            3572      3572               3572     3572   3572
WEDDINGS         3653      3653               3653     3653   3653
THE WORLDPOST    3664      3664               3664     3664   3664
PARENTS          3955      3955               3955     3955   3955
HOME & LIVING    4320      4320               4320     4320   4320
BLACK VOICES     4583      4583               4583     4583   4583
SPORTS           5077      5077               5077     5077   5077
COMEDY           5400      5400               5400     5400   5400
BUSINESS         5992      5992               5992     5992   5992
FOOD & DRINK     6340      6340               6340     6340   6340
QUEER VOICES     6347      6347               6347     6347   6347
HEALTHY LIVING   6694      6694               6694     6694   6694
PARENTING        8791      8791               8791     8791   8791
STYLE & BEAUTY   9814      9814               9814     9814   9814
TRAVEL           9900      9900               9900     9900   9900
ENTERTAINMENT   17362     17362              17362    17362  17362
WELLNESS        17945     17945              17945    17945  17945
POLITICS        35602     35602              35602    35602  35602

Potential categories:

     Politics
     world news
     Us news 
     Sports
     Wellness + Healthy Living
     Travel 
     Entertainment
     Queer Voices
     Black Voices
     Style & Beauty 
     Parenting (+Parents)
     Food & Drink 
     
One approach we should do: catagoirizing using TF-IDF (see explanation of TF-IDF here https://monkeylearn.com/blog/what-is-tf-idf/)

Next steps:
    
    1. Save data as a dataframe (rather than JSON)
    2. Cleaning - save copy with only the relevant catgories and columns, removing rows with missing info?
    3. Cleaning - preprocessing the data (lowercase, remove stop words, remove punctuation, stemming, lemmatization, convert numbers to words)
    4. Train-test-split, KFold, etc
    5. Calculate TD-IDF 
       here is an explanation of how to do TF-IDF: 
       https://towardsdatascience.com/tf-idf-for-document-ranking-from-scratch-in-python-on-real-world-dataset-796d339a4089
    6. Ranking using one/more of the methods mention in the above link

Other things we could do? (Josh has some interesting ideas - please make notes here)

### thoughts about how to progress
    
    -  we're adding columns of cleaned up sentences for the headlines and short descriptions
    - we'll have a single for-loop to do all the cleaning, and only after all the cleaning is done for a given entry will we add the cleaned up data to the df (rather than 
    -  when the time comes to run calculate the td-idf, we'll have to retrieve those cleaned up sentences, 
        add them to a list of other cleaned up sentences for that new category, then tokenize that list
    - then we get the tf-idf for each list (for each category)